include LICENSE.md
include README.rst
recursive-include openff_sphinx_theme/openff_sphinx_theme *
include versioneer.py
include openff_sphinx_theme/_version.py
include setup.cfg
include requirements.txt
include requirements-dev.txt
